<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body style="background-color:#0D6A5B;">

<h2 align="center" style="font-family:veranda">Our Customers</h2>
<div class="container col-md-6">
        <table class="table table-stripped">

            <thead>
            <tr><th>Customer Name</th>
            <th>Email</th>
            <th>Mobile</th></tr>
            </thead>
            {% for i in s1 %}
            <tbody class="text-white">
            <tr><td>{{i.Name}}</td>
            <td>{{i.Email}}</td>
            <td>{{i.MobileNo}}</td>
            <td><a href="cdetails/{{i.id}}"><button>Details</button></a></td></tr>
            </tbody>
            {% endfor %}
        </table>
</div>
<form action="o">
{% csrf_token%}
        <button class="btn btn-secondary" style="width:500px; margin-left:350px" type="submit">Back to home</button>
</form>
</body>
</html>